.view {
  max-width: 50%;
  margin-top: 15%;
  & > *:not(:last-child) {
    margin-bottom: 5%;
  }
  &Wrapper {
    height: 100%;
    width: 70%;
    margin: 0 auto;
  }

  &Title {
    margin: 0 !important;
  }
}
