.columns {
  &Type {
    font-size: 16px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }
}

.trainerModal {
  &Field {
    width: 300px !important;
  }
}

.editModal {
  &Field {
    width: 100%;
    max-width: 400px !important;
  }
}
