.card {
  height: 45vh;
  border-radius: 1.5em;
  background: url('@/assets/page/lessons/trainer.jpg') no-repeat;
  background-position: 120% 20%;
  border: 0.03em solid rgba(127, 127, 127, 0.5);
  & :global(.ant-card-body) {
    height: 100%;
  }

  &Wrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }

  &SubTitle {
    max-width: 50%;
    &Span {
      color: orange;
    }
  }

  &BorderItem {
    content: '""';
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    &BottomLeft {
      bottom: 0;
      left: 0;
      border-bottom: 0.03em solid orange;
      border-left: 0.03em solid orange;
      border-bottom-left-radius: 1.4em;
    }
    &TopRight {
      top: 0;
      right: 0;
      border-top: 0.03em solid orange;
      border-right: 0.03em solid orange;
      border-top-right-radius: 1.4em;
    }
  }
}
