.wrapper {
  height: 100%;
  position: relative;
  &Preview {
    width: 90%;
    margin: 1% auto;
  }
}

.title {
  margin-bottom: 3%;
}

.card {
  &Wrapper {
    padding-left: 2%;
    padding-right: 2%;
  }
  &Table {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.selectedDrawer {
  position: fixed;
  right: 5%;
  bottom: 10%;
  &Delete {
    color: #dc4446 !important;
  }
  &Payt {
    margin-top: 50px;
  }
}

.paymentDidBuy {
  margin-top: 3%;
  &Title{
    margin-bottom: 3%;
  }
}
